extends corp-regular
block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Калькулятор комплексного обслуживания
    .info.grid-container: .grid-x.grid-padding-x: .cell
        include components/common/_form
