extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Принтер лазерный HP LaserJet Pro M477fnw (CF13A#ACB)
  .info.grid-container.shipment: .grid-x.grid-padding-x
    .medium-12.cell.medium-order-2
      .sect
        +label('<i class="far fa-star picture"></i>Акция','label_action')
        span.shipment__art Артикул 123456
      include components/shop/_product-base-info
      hr
      include components/shop/_product-stock-delivery-info
      hr
      include components/shop/_product-share-links

    .medium-12.cell.medium-order-1
      include components/shop/_product-images
  .grid-container: .grid-x.grid-padding-x: .cell: hr.hr
  .info
    .grid-container: .grid-x.grid-padding-x: .cell
      ul.tabs#product-tabs-1(data-responsive-accordion-tabs="accordion medium-tabs" data-deep-link="true" data-update-history="false")
        li.tabs-title.is-active
          a(href='#product-tab-description' title='') Описание
        li.tabs-title
          a(href='#product-tab-spec' title='') Характеристики товара
        li.tabs-title
          a(href='#product-tab-files' title='') Дополнительные материалы
        li.tabs-title
          a(href='#product-tab-comments' title='')
            i.fas.fa-comments.picture
            | Отзывы&nbsp;(10)

      .tabs-content(data-tabs-content="product-tabs-1")
        .tabs-panel.is-active#product-tab-description
          include components/shop/_product-tab-description
        .tabs-panel#product-tab-spec
          include components/shop/_product-tab-spec
        .tabs-panel#product-tab-files
          include components/shop/_product-tab-files
        .tabs-panel#product-tab-comments
          include components/shop/_product-tab-comments
  .grid-container: .grid-x.grid-padding-x: .cell
    hr
  .info
    .grid-container: .grid-x.grid-padding-x: .cell
      ul.tabs#product-tabs-2(data-responsive-accordion-tabs="accordion medium-tabs" data-deep-link="true" data-update-history="false")
        li.tabs-title.is-active
          a(href='#product-tab-consumables-original' title='') Расходные материалы
        li.tabs-title
          a(href='#product-tab-accessories' title='') Аксессуары

      .tabs-content(data-tabs-content="product-tabs-2")
        .tabs-panel.is-active#product-tab-consumables-original
          include components/shop/_product-tab-consumables
        .tabs-panel#product-tab-accessories
          include components/shop/_product-tab-accessories
  .grid-container: .grid-x.grid-padding-x: .cell
    hr
  .info
    .grid-container: .grid-x.grid-padding-x: .cell
      h2 Похожие товары
    include components/common/_line-products
  .grid-container: .grid-x.grid-padding-x: .cell: hr
  .info
    .grid-container: .grid-x.grid-padding-x: .cell
      h2 Вы смотрели
    include components/common/_line-products
