extends shop-index

block page
  +breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .cell
      h1 Заголовок страницы h1
    .info
      .grid-container: .grid-x.grid-padding-x
        .cell.medium-10.large-6
          +side
        .cell.medium-14.large-18
          include components/common/_text
