extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Авторизация
  .info.grid-container: .grid-x.grid-padding-x.align-center
    .cell.medium-16.large-12
      p Пожалуйста, авторизуйтесь:
      form(action='shop-user-account.html')
        label
          | Ваш email
          input(type='email')
        label
          | Пароль
          input(type='password')
        +step('Запомнить меня на этом компьютере')
        +button('Войти<i class="fas fa-sign-in-alt fa-lg canv"></i>')

      p
        a(href='shop-user-recover.html', title='') Забыли пароль?
      div
        a(href='shop-user-registration.html', title='') Зарегистрироваться
      p
        em Если вы впервые на сайте, заполните, пожалуйста, регистрационную форму.
      +share('Войти через:')  
