extends shop-user-personal

block personal
  h2 Заказ #4 от 11.03.2016 на сумму 6 388 руб

  h3 Информация о покупателе
  p
    | Физ. лицо
    br
    | Иванов Иван Иванович
    br
    | i.ivanov@mail.com
    br
    | +7 900 456-87-98

  h3 Адрес доставки
  p: strong Россия, Московская область, г. Москва, ул. Уличная, д. 11, кв. 42

  h3 Способ доставки
  p: strong Самовывоз

  h3 Способ оплаты
  p: strong Наличными

  h3 Состав заказа
  +growth()
  hr
  +growth()
  
  .sect.sect_big 
    span.picture ИТОГО:
    strong 6 388
      i.fas.fa-ruble-sign.canv
