extends shop-index

block page
  +breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .cell
      h1 Карта сайта
    .info.grid-container: .grid-x.grid-padding-x
      .cell.medium-16.large-12
        include components/shop/_sitemap
