extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Заказ сформирован
  .info.grid-container: .grid-x.grid-padding-x: .cell
    p Ваш заказ №6 от 30.11.2016 19:35:52 успешно создан. Номер вашей оплаты: №6/1
    p
      | Вы можете следить за выполнением своего заказа в
      = ' '
      a(href='shop-orders.html') Персональном разделе сайта
      |. Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.
    +button('<i class="far fa-credit-card picture"></i>Оплатить заказ')
      
