extends shop-index

block page
  +breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .cell
      h1 Поиск
    .info.grid-container: .grid-x.grid-padding-x: .cell
      include components/common/_search
