extends shop-user-personal

block personal
  h2 Заказы
  .sect: a(href='#' title='') Посмотреть историю заказов
  h3 Заказы в статусе «Оплачен, формируется к отправке»

  +callout
    h4: a(href='shop-order.html' title='') Заказ №3 от 27.10.2016, 2 товара на сумму 4 398
      i.fas.fa-ruble-sign.canv
    h5.callout__dark Оплата
    .sect
      strong.picture Счет №3/1 от 27.10.2016, Наличные курьеру
      +label('Оплачено','label_success')
      div
        | Сумма к оплате по счету: 4 398
        i.fas.fa-ruble-sign.canv

    h5.callout__dark Доставка
    .sect
      strong.picture Отгрузка №3/2, стоимость доставки 500
        i.fas.fa-ruble-sign.canv
      +label('Не отгружено')
      div
        span.picture Статус отгрузки:
        +label('Ожидает обработки','label_light-gray')
      div
        | Служба доставки: Доставка курьером
    hr
    .grid-x.grid-padding-x
      .cell.medium-8
        a(href='shop-order.html' title='') Подробнее о заказе
      .cell.medium-16.medium-text-right
        a(href='#' title='').picture
          i.fas.fa-undo.picture
          | Повторить заказ
        a.callout__dark(href='#') Отменить заказ

  h3 Заказы в статусе «Принят, ожидается оплата»

  +callout
    h4: a(href='shop-order.html' title='') Заказ №6 от 27.10.2016, 2 товара на сумму 4 398
      i.fas.fa-ruble-sign.canv
    h5.callout__dark Оплата
    .grid-x.grid-padding-x
      .cell.large-16
        .sect
          strong.picture Счет №6/1 от 27.10.2016, Наличные курьеру
          +label('Не оплачено')
          div
            | Сумма к оплате по счету: 4 398
            i.fas.fa-ruble-sign.canv
          div
            a(href='#' title='') Сменить способ оплаты
      .cell.large-8.large-text-right
        .sect
          +button('<i class="far fa-credit-card picture"></i>Оплатить')
          

    h5.callout__dark Доставка
    .sect
      strong.picture Отгрузка №6/2, стоимость доставки 500
        i.fas.fa-ruble-sign.canv
      +label('Не отгружено')    

      div
        span.picture Статус отгрузки:
        +label('Ожидает обработки','label_light-gray')
      div
        | Служба доставки: Доставка курьером
    hr
    .grid-x.grid-padding-x
      .cell.medium-8
        a(href='shop-order.html' title='') Подробнее о заказе
      .cell.medium-16.medium-text-right
        a(href='#' title='').picture
          i.fas.fa-undo.picture
          | Повторить заказ
        a.callout__dark(href='#') Отменить заказ
